:root{
    --color-red: #fa594d;
    --priority-red: #e64343;
    --priority-yellow: #f7a121;
    --priority-green: #39b466;
    --primary-bg: #41a0e8;
    --secondary-bg: #78bcf0;
    --color-gray: #e8e8e8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app-container{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 70px;

    grid-template-areas: 
        "sidebar main"
        "sidebar footer";
    height: 100vh;
}

.todo-check-box{
    border: 1px solid black;
    width: 25px;
    height: 25px;
}

/* --Sidebar-- */
.sidebar{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    border-radius: 0 15px 15px 0;
    background: var(--primary-bg);
    color: white;
    gap: 2rem;
    padding: 1.25rem;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.logo-container h1{
    font-size: 2.5rem;
}

.projects-header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-bottom: 2px solid var(--color-gray);
}
.projects-header-container p{
    font-size: 1.15rem;
    margin-bottom: 1rem;
}

.projects{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projects-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projects-container .project-item{
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    padding: 1rem;
}

.project-item.active{
    background-color: white;
    color: var(--primary-bg);
}

.project-item:not(.active):hover{
    background-color: var(--secondary-bg);
}

.trash-container{
    display: inline-block;
    cursor: pointer;
}

.trash-container:hover{
    color: var(--color-red);
}

.add-project-btn{
    border-radius: 10px;
    border: 2px dashed;
    cursor: pointer;
    background-color: white;
    padding: 1rem;
}

/* --Main-- */
main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    background-color: var(--color-gray);
}

.project-name-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-info-container {
    margin-bottom: 1.55rem;
}

.top{
    border-bottom: 2px solid black;
    background-color: var(--secondary-bg);
}

.project-info-container h2{
    font-size: 2.75rem;
    margin-bottom: 1rem;
}

.add-todo-btn{
    padding: 0.5rem 2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.todo-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todo-item{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 1rem;
}

.todo-item.completed{
    opacity: 0.5;
}

.todo-item.completed .todo-title{
    text-decoration: line-through;
}

.todo-check-box {
    border-radius: 50%;
}

.todo-item.completed .todo-check-box{
    background-color: var(--primary-bg);

}

.todo-left{
    display: flex;
    flex-direction: column;
}

.todo-left > .left-header{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.todo-check-box{
    cursor: pointer;
}

.todo-description{
    margin-bottom: 0.75rem;
    padding: 0.25rem;
}

.left-bottom-info{
    display: flex;
    gap: 2rem;
}

.todo-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.delete-todo-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2rem;
}

.delete-todo-btn:hover{
    color: var(--color-red);
}

.edit-todo-btn{
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.todo-priority{
    color: white;
    width: 80px;
    text-align: center;
    border-radius: 50px;
}

.priority-High{
    border-left: 5px solid var(--priority-red);
}

.priority-High .todo-priority{
    background-color: var(--priority-red);
}

.priority-Medium{
    border-left: 5px solid var(--priority-yellow);
}

.priority-Medium .todo-priority{
    background-color: var(--priority-yellow);
}

.priority-Low{
    border-left: 5px solid var(--priority-green);
}

.priority-Low .todo-priority{
    background-color: var(--priority-green);
}

/* --Footer-- */
footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
    gap: 0.5rem;
}

footer p > a{
    text-decoration: none;
    color: black;
}

footer svg{
    fill: black;
    width: 20px;
    height: 20px;
}

/* --Modal-- */
dialog{
    margin: auto;
}