.trash-container{
    display: inline-block;
    border: 1px solid black;
}

.trash-container:hover{
    color: red;
}

.todo-check-box{
    border: 1px solid black;
    width: 25px;
    height: 25px;
}